---
---

// Imports

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:700|Source+Code+Pro');
@import "syntax.scss";

// Variables

$accent-color: #ebcb8b;
$background-color: #26282d;
$font-color: #93979e;
$serif-fonts: "PT Serif", Georgia, "Times New Roman", serif;
$sans-serif-fonts: "PT Sans", Helvetica, Arial, sans-serif;
$monospace-fonts: "Source Code Pro", "Courier New", monospace;
$accent-gray: #32343c;

// Reset

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Basics

html,
body {
  margin: 0;
  padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: $serif-fonts;
}

body {
    padding: 1rem;
    color: $font-color;
    text-align: center;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@media (min-width: 38rem) {
    html {
        font-size: 20px;
    }
    .post-list {
        padding: 0 2rem;
    }
}

a {
    color: $accent-color;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: white;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4,
h5,
h6 {
    margin-top: 1.5rem;
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

hr {
    position: relative;
    border: 0;
    border-top: 1px solid $accent-gray;
    max-width: 6rem;
    margin: 3rem auto;
}

code,
pre {
    font-family: $monospace-fonts;
    background-color: lighten($background-color, 10%);
    font-size: .8rem;
}

code {
    padding: .25em .5em;
}

pre {
    display: block;
    margin: .8rem 0;
    padding: 1rem;
    line-height: 1.4;
    white-space: pre-wrap;
    overflow: auto;
}

pre code {
    padding: 0;
    font-size: 100%;
    background-color: transparent;
}

blockquote {
    padding: .5rem .8rem;
    margin: 1rem 0;
    color: darken($font-color, 10%);
    border-left: .25rem solid white;
    font-style: italic;
}

blockquote p:last-child {
    margin-bottom: 0;
}

@media (min-width: 30rem) {
    blockquote, pre {
        margin-right: 5rem;
    }
    blockquote {
        padding-left: 1.25rem;
    }
    pre {
        padding-left: 1.5rem;
    }
}

img {
    display: block;
    margin: 0 0 1rem;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

// Tables

table {
    margin-bottom: 1rem;
    width: 100%;
    border-collapse: collapse;
    font-size: .8rem;
}

td,
th {
    padding: .25rem .5rem;
    vertical-align: bottom;
}

th {
  border-bottom: 1px solid white;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: lighten($background-color, 5%);
}

// Layout

.container {
    max-width: 38rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.page,
.post,
.post-list-item {
    margin-bottom: 3rem;
}

.page-title,
.post-title,
.post-title a {
    color: white;
}

.page-title,
.post-title {
    margin-top: 0;
}

.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

.post-list {
    text-align: center;
    // padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
}

.post-list-item {
    padding: 0 1rem;
    flex: 0 0 50%;
    min-width: 10rem;
}

.post-content {
  text-align: left;
}

.pagination {
    overflow: hidden;
    margin-left: -1rem;
    margin-right: -1rem;
    font-family: $sans-serif-fonts;
    color: #ccc;
    text-align: center;
}

.pagination-item {
    display: block;
    padding: 1rem;
    border: 1px solid #eee;
}
.pagination-item:first-child {
    margin-bottom: -1px;
}

a.pagination-item:hover {
    background-color: #f5f5f5;
}

@media (min-width: 30rem) {
    .pagination {
        margin: 0 0 3rem 0;
    }
    .pagination-item {
        float: left;
        width: 50%;
    }
    .pagination-item:first-child {
        margin-bottom: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .pagination-item:last-child {
        margin-left: -1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

// Buttons

.btn {
    display: inline-block;
    padding: .25rem 1rem;
    color: $accent-color;
    border: .1rem solid $accent-gray;
    border-radius: .1rem;
}

.btn:hover, .btn:focus {
    color: $background-color;
    background-color: $accent-color;
    border-color: $accent-color;
}

// Search

#search {
    display: inline-block;
    padding: .25rem 1rem;
    color: $accent-color;
    border: .1rem solid $accent-gray;
    border-radius: .1rem;
    background-color: $background-color;
    color: white;
    margin-bottom: 1rem;
    width: 10rem;
    font-size: 0.8rem;
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

#results {

}
#noresults {
    display: none;
}

// Home page header

.header-title {
    display: inline-block;
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    border: .2rem solid $accent-gray;
    border-radius: .1rem;
}

.header-lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.header-lead, .post-description {
    margin-bottom: 0;
}

// Footer

footer {
  font-size: .8rem;
}

// Misc

iframe {
  margin-bottom: 1rem;
}
